.pesquisar{
    border-radius: 5px !important;
    border-color: #4684ff !important;
    margin-top: -15px;
}
.pesquisar::placeholder{
    color: #4684ff !important;
}
.tituloBloco{
    margin-top: 0px;
    margin-bottom: -12px;
    padding-left: 15px;
    color: #b2cefd;
    font-size: 3.5em;
    font-family: 'Gugi', cursive;
}
.tituloBloco label{
    font-size: 0.3em;
    color: #6960e1;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 100;
}
.blocoAB{
    padding: 30px;
    text-align: center;
    color: #fff;
    background-color: #3d2dd6 !important;
    border-radius: 10px;
}

.table{
    border: none !important;
}
.table tbody > tr > td{
    background-color: #553fea !important;
    color: #fff;
    border: none !important;
    text-align: center;
    cursor: pointer;
}
.table tbody > tr:nth-child(odd) > td{
    background-color: #664bfa !important;
    color: #fff;
}

.table th{
    background-color: #3d2dd6 !important;
    border: none !important;
    text-align: center !important;
}

.table th:first-child{
    border-radius: 8px 0px 0px;
} 
.table th:last-child{
    border-radius: 0px 8px 0px 0px;
} 
.table tbody tr:last-child td:first-child{
    border-radius: 0px 0px 0px 8px;
}
.table tbody tr:last-child td:last-child{
    border-radius: 0px 0px 8px 0px;
}

.table tbody tr td:first-child{
    background-color: #3d2dd6 !important;
    border: none !important;
    text-align: center !important;
    color: #fff;
}
.antesCirculo{
    background-color: transparent !important;
}
.circulos1, .circulos2, .circulos3, .circulos4{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
.circulos1::after{
    background-color: transparent;
    content: " ";
    position: absolute;
    width: 132px;
    z-index: 0;
    border-right: 1.2em solid #c846e8;
    border-radius: 50%;
    height: 132px;
    border-bottom: 1.2em solid #c846e8;
    border-left: 1.2em solid transparent;
    top: 4px;
    left: 10px;
    border-top: 1.2em solid #c846e8;
    transform: rotate(40deg);
    top: 1.6em;
}
.circulos2::after{
    background-color: transparent;
    content: " ";
    position: absolute;
    width: 132px;
    z-index: 0;
    border-right: 1.2em solid #664bfa;
    border-radius: 50%;
    height: 132px;
    border-bottom: 1.2em solid #664bfa;
    border-left: 1.2em solid transparent;
    top: 4px;
    left: 10px;
    border-top: 1.2em solid #664bfa;
    transform: rotate(40deg);
    top: 1.6em;
}
.circulos3::after{
    background-color: transparent;
    content: " ";
    position: absolute;
    width: 132px;
    z-index: 0;
    border-right: 1.2em solid #00e2e1;
    border-radius: 50%;
    height: 132px;
    border-bottom: 1.2em solid #00e2e1;
    border-left: 1.2em solid transparent;
    top: 4px;
    left: 10px;
    border-top: 1.2em solid #00e2e1;
    transform: rotate(40deg);
    top: 1.6em;
}
.circulos4::after{
    background-color: transparent;
    content: " ";
    position: absolute;
    width: 132px;
    z-index: 0;
    border-right: 1.2em solid #b3cefd;
    border-radius: 50%;
    height: 132px;
    border-bottom: 1.2em solid #b3cefd;
    border-left: 1.2em solid transparent;
    top: 4px;
    left: 10px;
    border-top: 1.2em solid #b3cefd;
    transform: rotate(40deg);
    top: 1.6em;
}
.blocoCirculos{
    margin-top: -25px;
}

.tituloCentral{
    color: #4684ff !important;
    font-style: oblique;
}
.tituloComp{
    color: #4684ff !important;
    font-style: oblique;
    font-weight: bold !important; 
    text-align: center;
}

.quadroComp{
    background-color: #f5ea7e;
    border-radius: 5px;
    margin-bottom: 1em;
}

#unidade-e-mes0, #unidade-e-mes1{
    color: #4684ff !important;
    font-weight: bold;
}
#consumo0, #consumo1{
    color: #4684ff !important;
}
#diferenca-consumo, #diferenca-porcentagem{
    background: #ff4848;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    color: #fff;
}

.iconeFuncao{
    float: right;
    width: 50px;
    height: 50px;
    background: #664bfa;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-right: 4%;
    cursor: pointer;
}
.iconeFuncao2{
    float: right;
    width: 50px;
    height: 50px;
    background: #1cf793;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.iconeFuncao3{
    float: right;
    width: 50px;
    height: 50px;
    background: #c846e8;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.iconeFuncao i, .iconeFuncao2 i, .iconeFuncao3 i{
    color: #fff;
    font-size: 1.5em;
}
